.WelcomeModal{
    width: 50vw;
    display: flex;
    flex-direction: column;
    height: 30vh;
    background-color: #5A5E5F    ;
}
.WelcomeModal-header{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.WelcomeModal-body{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.WelcomeModal-body p{
    text-align: center;
}