.no-padding-vertical{
    padding-top: 0px;
    padding-bottom: 0px;
}
.auth-inner-right-otp-container{
    width: 100%;
    /* height: 100px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
}

.auth-box{
    width: 100px;
    /* background-color: red; */
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 5px rgba(29, 29, 29, 0.027);
}
.auth-box input{
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    width: 10px;
    font-size: 16px;
}
.extra-width-120 button{
    width: 110px;
}
.more-right-90{
    right:-90px
    /* left: -90%; */
}



@media all and (min-width: 1024px) and (max-width: 1280px) { 
    .auth-box{
        /* background-color: red; */
       width:75px;
       height:85px
    } 
}
@media all and (min-width: 768px) and (max-width: 1024px) {
    .auth-box{
        /* background-color: red; */
       width:50px;
       height:60px
    } 
 }
 
@media all and (min-width: 480px) and (max-width: 768px) {
    .auth-box{
       width:50px;
       height:60px
    } 

 }
 
@media all and (max-width: 480px) {   
    .auth-box{
    width:50px;
    height:60px
 } 
}