.dashboardheader-container{
    width: 100%;
    height: 75px;
    position: fixed;
    display: flex;
    z-index: 9999;
    
    background-image: linear-gradient(to right,#1C1C1D,#555555);
    /* background-color: #212020; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.dashboardheader-container-inner{
    box-shadow: 1px 1px 5px 5px rgba(50, 50, 50, 0.163);
    
    position: fixed;
    display: flex;
    width: 95%;
    height: 60px;
}
.dashboardheader-container-left{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.dashboardheader-container-left-top{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;

}

.dashboardheader-container-left-top-icon{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    font-size:20px;
    align-items: center;
}
.dashboardheader-container-left-top-icon:hover .custom-sideBar-container{
    display: flex !important;
}
.dashboardheader-container-left-top-img{
    width: 80%;
    display: flex;
    padding-left: 20px;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    cursor: pointer;
}
.dashboardheader-container-left-top-img img{
    width: 150px;
    aspect-ratio: 4;
}
.dashboardheader-container-left-bottom{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.dashboardheader-container-left-bottom h4{
    font-size: 9px;
    margin: 0;

}
.dashboardheader-container-middle{
    width: 60%;
    height: 75px;
    display: flex;
    flex-direction: row;
}

.dashboardheader-container-middle-searchbar{
    width: 50%;
    height: 100%;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dashboardheader-container-middle-searchbar-container{
    box-shadow: 1px  5px 5px rgba(15, 15, 15, 0.363);
    width: 90%;
    height: 40px;
    display: flex;
    flex-direction: row;
}
.dashboardheader-container-middle-searchbar-container-left{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}
.dashboardheader-container-middle-searchbar-container-left h4{
    margin:0%;
    padding-right: 20px;
    font-weight: 400;
    font-size: 11px;
}
.dashboardheader-container-middle-searchbar-container-middle{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.dashboardheader-container-middle-searchbar-container-middle input{
    width: 90%;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0 10px;
    font-weight: 400;
    font-size: 11px;
}

.dashboardheader-container-middle-searchbar-container-middle input::placeholder{

    font-weight: 400;
    font-size: 11px;
}
.dashboardheader-container-middle-searchbar-container-right{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;

}

.dashboardheader-container-middle-icons{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.dashboardheader-container-middle-icons-left{
   width: 50%;
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;

}
.dashboardheader-container-middle-icons-right{
       width: 50%;
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.dashboardheader-container-middle-icons-right-imgContainer{
    width: 40px;
    aspect-ratio: 1;
    overflow:hidden;
    border-radius: 50px;

    background-color: blue;

}

.dashboardheader-container-middle-activity{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dashboardheader-container-middle-activity h4{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;   
     width: 80%;
}
.dashboardheader-container-middle-activity-mainContainer{
    width: 80%;
    height: 20%;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid black;
}
.dashboardheader-container-middle-activity-mainContainer-filler{
    background-color: yellow;
    height: 100%;
}



.dashboardheader-container-right{
    width: 25%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;

}
.dashboardheader-container-right-left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dashboardheader-container-right-left-iconContainer{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    position: relative;
}
.dashboardheader-container-right-left-iconContainer-counterContainer{
    width: 13px;
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50px;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -13px;
    background-color: blue;
}
.dashboardheader-container-right-left-iconContainer-counterContainer h5{
    font-size: 9px;
    margin: 0;
    padding: 0%;
    font-weight: 400;
}
.dashboardheader-container-right-right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.dashboardheader-container-right-right-imgContainer{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.dashboardheader-container-right-right-img{
    width: 30px;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 30px;
}
.dashboardheader-container-right-right-img img{
    width: 100%;
    height: 100%;
}
.dashboardheader-container-right-right-nameContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.dashboardheader-container-right-right-nameContainer h3{
    font-size: 9px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.dashboardheader-container-right-right-nameContainer h4{
    font-size: 12px;
    padding: 0;
    margin: 0;
    font-weight: 400;
}




@media all and (min-width: 1024px) and (max-width: 1280px) {
    .dashboardheader-container-left-top-img img{
        width: 100px;
    }
    .dashboardheader-container-right-right-img {
        width: 25px;
    }
    .dashboardheader-container-right-left{
        width: 40%;
    }
    .dashboardheader-container-right-right{
        width: 60%;
    }
    .dashboardheader-container-middle-searchbar-container-left h4{
        padding-right: 5px;
    }
    .dashboardheader-container-middle-icons-right-imgContainer{
        width: 35px;
    }
    .dashboardheader-container-right-left-iconContainer {
    font-size: 18px;
    }
 }
 
@media all and (min-width: 768px) and (max-width: 1024px) {
    *{
        /* background-color: blue; */
    }
    .dashboardheader-container-left-top-img img{
        width: 80px;
    }
    .dashboardheader-container-right-right-img {
        width: 25px;
    }
    .dashboardheader-container-right-left{
        width: 40%;
    }
    .dashboardheader-container-right-right{
        width: 60%;
    }
    .dashboardheader-container-middle-searchbar-container-left h4{
        padding-right: 5px;
    }
    .dashboardheader-container-middle-icons-right-imgContainer{
        width: 30px;
    }
    .dashboardheader-container-middle-activity h4 {
    font-size: 11px;
    }
    .dashboardheader-container-middle-icons-left{
        font-size: 14px;
    }
    .dashboardheader-container-right-left-iconContainer {
    font-size: 14px;
    }
    .dashboardheader-container-right-right-nameContainer h3 {
    font-size: 8px;
    }
    .dashboardheader-container-right-right-nameContainer h4 {
    font-size: 11px;
    }
 }
 
@media all and (min-width: 480px) and (max-width: 768px) {
    .dashboardheader-container{
        position: initial;
        padding: 10px 0;
        height: fit-content;
    }
    .dashboardheader-container-right,.dashboardheader-container-middle,.dashboardheader-container-left{
        width: 90%;
        height: fit-content;
        align-self: center;
        align-items: center;
        justify-content: center;
    }
    .dashboardheader-container-middle{
        width: 90%;
        flex-direction: column;
        padding: 10px 0;
        align-items: center;
        justify-content: center;
    }
    .dashboardheader-container-middle-searchbar{
        padding: 5px 0;
        width: 90%;
    }
    .dashboardheader-container-middle-icons-right-imgContainer{
        width: 35px;
    }
    .dashboardheader-container-middle-icons{
        padding: 5px 0;
        width: 60%;
    }
    .dashboardheader-container-middle-activity-mainContainer {
    height: 20px;
    }
    .dashboardheader-container-middle-activity{
        padding: 5px 0;
        width: 90%;

    }
.dashboardheader-container-inner{
        position: initial;
        height: 250px;
        flex-direction: column;
}
 }
 
@media all and (max-width: 480px) { }

