@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    font-family: poppins;
}

.auth-container{
    width: 100%;
    height: fit-content;
    padding: 50px 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #303032;
}
.auth-inner-container{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.auth-inner-left-container img{
    width: 250px;
    aspect-ratio: 4;
}
.auth-inner-left-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.auth-inner-right-container{
    width: 50%;
    border-radius: 5px;
    background-color: #5083ED;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.auth-inner-right-container-inner{
    width: 80%;
    height: 90%;
}
.auth-inner-right-header{
    width: 50%;
    height: fit-content;
    padding: 20px 0;

}
.auth-inner-right-form-container{
    padding-top: 50px;
}
.input-field-container-auth{
    width: 100%;
    height: 60px;
    /* background-color: rebeccapurple; */
}
.auth-inner-right-form-footer-container{
    width: 100%;
    height: 200px;
    /* background-color: rebeccapurple; */
}
.auth-inner-right-form-footer-row{
    display: flex;
    width: fit-content;
    flex-direction: row;
    padding: 5px 0;
    color:#72EEFF;
    align-items: center;
    font-size: 11px;
}
.auth-inner-right-form-footer-row h4{
    margin: auto;
    padding: 0%;
    font-style: italic;
    color:rgb(231, 231, 231);
    font-weight: 400;
    font-size: 14px;
    padding-right: 20px;
}
.auth-inner-right-form-footer-row a{
    color:#72EEFF;

}
.auth-inner-right-form-footer-submission{
    width: 100%;
    height: fit-content;
    padding: 5px 0;
    padding-top: 30px;
}
.auth-inner-right-form-footer-submission button{
    width: 100px;
    height: 30px;
    color: white;
    border: none;
    font-weight: 400;
    box-shadow: 1px 1px 10px rgba(65, 64, 64, 0.267);
    background-color: #3C5A99;
}
.button-overlapping-icon-container{
    width: 10px;
    height: 10px;
    position: relative;
    top: -25px;
    font-size: 14px ;
    right: -75px;
}


.auth-inner-right-form-footer-create-form{
    padding-top: 20px;
    width: 100%;
}
.auth-inner-right-form-footer-create-form h3{
    font-size:12px;
    font-weight: 400;
    padding-bottom:5px;
    margin:0px
}
.auth-inner-right-form-footer-create-form a{
    font-size:11px;
    margin:0px;
    font-weight: 600;
    color:yellow
}
@media all and (min-width: 1024px) and (max-width: 1280px) { 
    *{
        /* background-color: red; */
    }
}
 
@media all and (min-width: 768px) and (max-width: 1024px) {
    .auth-inner-container{
        width: 85%;
        height: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
 }
 
@media all and (min-width: 480px) and (max-width: 768px) {
    *{
        /* background-color: red; */
    }    .auth-inner-container{
    flex-direction: column;
}

.auth-inner-right-container{
    width: 100%;
}

 }
 
@media all and (max-width: 480px) { 
    .auth-inner-container{
        flex-direction: column;
        height: fit-content;
    }
    .auth-inner-left-container{
        padding-bottom: 20px;
    }
.auth-inner-left-container img{
    width: 150px;
}
    .auth-inner-right-container{
        width: 100%;
    }
}